.container-album {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 4em;

    display: flex;
    flex-direction: row;

    border: 1px solid #dbdbdb;
    border: 1px solid #c0c0c0;

    /* background-color: #fff; */
    border-radius: 0 10px 10px 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.container-album__album-cover {
    max-width: 250px;
    margin-right: 2em;

    /* border-radius: 10px; */
}

.paragraph-notification {
    background-color: burlywood;
}