.container-featured-albums {
    /* border: 1px solid magenta; */

    margin-top: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-albums {
    /* border: 1px solid green; */

    margin-top: 3em;
    display: flex;
    align-items: center;
}

.arrow {
    max-width: 50px;
}

.flip-horizontally {
    transform: scaleX(-1);
}

.album-featured {
    margin: 2em;
}

.album-featured {
    border-radius: 4px;
    transition: all .35s ease-in-out;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.album-featured__title, 
.album-featured__artist {
    transition: all .7s ease-in-out;
}

.album-featured:hover .album-featured__title {
    /* background-color: #cecece; */
    /* border-radius: 4px; */
    cursor: pointer;
    color: #343434;
}

.album-featured:hover .album-featured__artist {
    /* background-color: #cecece; */
    /* border-radius: 4px; */
    cursor: pointer;
    color: #343434;
}

.album-featured:hover {
    /* background-color: #cecece; */
    /* border-radius: 4px; */
    cursor: pointer;
    transform: scale(1.1);
}

.album__cover--featured {
    max-width: 200px;
    margin-bottom: 0;
}

.album__cover--central-album {
    max-width: 300px;
}

.album-featured__title {
    margin: 0;
    margin-top: 1em; 
    margin-bottom: .5em;
    font-size: 1.4rem;
    color: #f2f2f2;
    font-weight: 700;
}

/* Handle text overflow */
.album-featured__artist {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-featured__artist--central {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-featured__artist {
    margin: 0;
    margin-top: 1em;
    font-size: 1.4rem;
    color: #f2f2f2;
    /* color: #343434; */
    font-weight: 400;
    text-align: center;
}