/* =================
    Typography 
   ================= */

 .album__album-title {
    font-size: 1.4rem;
    color: #343434;
    font-weight: 700;
}

.album__album-artist {
    font-size: 1.3rem;
    font-weight: 400;
    color: #505050;
}

/* =================
    Layout 
   ================= */

.container-uploaded-albums-main {
    /* border: 5px solid royalblue; */

    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
 .container-uploaded-albums {
    /* border: 1px solid gray; */

    display: flex;
    flex-direction: column;
 }

 .heading-uploaded-albums {
    margin-left: 1.2rem;
}
 
 .container-albums {
    /* border: 1px solid coral; */

    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-gap: 2em;
}

.container-albums__link {
    text-decoration: none;
}

.container-albums__album {
    border-radius: 4px;
    padding-top: 1.25rem;
    transition: all .35s ease-in-out;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-albums__album:hover {
    background-color: #cecece;
    border-radius: 4px;
    cursor: pointer;
}

.album__cover {
    max-width: 150px;
    margin-bottom: 1.6rem;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Handle text overflow */
.album__album-title, .album__album-artist {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album__album-title {
    margin: 0;
}

.album__album-artist {
    margin-top: .4rem;
}

/* =================
    Media queries
   ================= */

@media (max-width:370px) {
    .container-uploaded-albums {
        width: 100%;
        align-items: center;
    }

    .container-albums {
        grid-template-columns: repeat(2, 145px);
        grid-gap: 1em;
    }

    .album__cover {
        max-width: 120px;
    }

    /* Handle text overflow */
    .album__album-title, .album__album-artist {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width:500px) {
    .container-albums {
        grid-template-columns: repeat(2, 175px);
    } 
}

@media (min-width:600px) {
    .container-albums {
        grid-template-columns: repeat(3, 175px);
    } 
}

@media (min-width:800px) {
    .container-albums {
        grid-template-columns: repeat(4, 175px);
    }  
}

@media (min-width:1000px) {
    .container-albums {
        grid-template-columns: repeat(5, 175px);
    }   
}